body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: mintcream;
  color: #464e47;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
}

.button, button {
  background-color: #76B486;
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
}

button {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  
}

.button:hover {
  background-color: #96E6B3;
  color: #464e47;
}

button:hover {
  background-color: #96E6B3;
  color: #464e47;
}

/* Headers CSS */
#homepage-header, #login-header, #signup-header, #addItem-header {
  background-color:#568259;
  padding: 50px 0px;
  width: 100%;
  color: #CCfCCB;
  text-align: center;
}

/* Homepage CSS */
#homepageContainer {
  text-align: center;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

#homepage-header p {
  color: #96E6B3;
}

#homepage-content {
  width: 100%;
  height: 600px;
}

#homepage-info {
  padding: 50px;
}

#homepage-links {
  padding: 30px;
}

/*Login CSS*/
#loginpageContainer {
  flex-direction: column;
  align-items: center;
}

#login-input {
  margin: 50px 0px 50px 0px;
}

#login-input-pass input {
  margin-left: 5px;
}

#login-buttons {
  margin-bottom: 50px;
}

/*Signup CSS*/
#signuppageContainer {
  flex-direction: column;
  align-items: center;
}

#signup-input {
  margin: 50px;
}

#signup-input-name input {
  margin-left: 29px;
}

#signup-input-pass input {
  margin-left: 5px;
}

#signup-buttons {
  margin-bottom: 50px;
}

/* Menu CSS */
#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #464E47;
  padding: 20px 0px 20px 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.nav-link {
  background-color: #464E47;
  text-decoration: none;
  border-bottom: 4px solid #464E47;
  font-family: "Karla", sans-serif;
  padding: 15px 15px 15px 15px;
  color: white;
}

.nav-link:hover {
  border-bottom: 4px solid #568259;
}

/* DashboardPage CSS */
#dashboardContainer {
  background-color: #DFFEE3;
  margin-top: 88px;
  flex-direction: column;
}

#dashboard-header {
  background-color:#568259;
  color: #CCfCCB;
  width: 100%;
  margin: 0px 0px 40px 0px;
  padding: 20px;
  text-align: center;
}

#dashboard-content {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pieContainer {
  background-color: #F1FFFA;
  border: 3px solid #464E47;
  width: 500px;
  height: 500px;
  margin: 50px 25px;
}

#budgetTable {
  background-color: #4E6850;
  margin: 50px 25px;
}

.statHeader {
  font-weight: bold;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  background-color: white;
  padding: 5px 10px;
}

thead th {
  background-color: #76B486;
}

#barContainer {
  background-color: #F1FFFA;
  border: 5px solid black;
  width: 500px;
  height: 300px;
  margin: 50px 25px;
}

/*Add Item Page CSS*/
#addItemContainer {
  margin-top: 88px;
  flex-direction: column;
}

#addItem-input {
  margin: 50px;
}

#addItem-input-title input{
  margin-left: 25px;
}

#addItem-input-color input{
  margin-left: 38px;
  margin-bottom: 5px;
}

#colorpicker {
  margin-left: 110px;
}

#addItem-buttons {
  margin-bottom: 50px;
  text-align: center;
}

/* Footer CSS */
.footer {
  position: absolute;
  width: 100%;
  background-color: #4E6850;
  color: #ccfccb;
  text-align: right;
}

.footer p {
  padding-right: 20px;
}